@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 antialiased overflow-x-hidden;
  -webkit-tap-highlight-color: transparent;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
